## Шаг 0. Запуск функций и библиотек

In [24]:
import math
import time
import codecs
import requests
import pandas as pd
import networkx as nx
from tqdm import tqdm
from pprint import pprint
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
from collections import Counter
%matplotlib inline

def gender_counts (access_token, list_of_ids = None, group_id = None):
    
    ''' Функция принимает на вход токен доступа и либо id паблика (group_id), либо список нужных id (list_of_ids). 
    Возвращает подсчитанное количество мужчин и женщин. '''
    
    if list_of_ids == None:
        group = agg_group_member_ids (group_id, access_token)
    else:
        group = list_of_ids
    group_len = len(group)
    a = 0
    b = 300
    all_sexes = []
    while a < group_len:
        time.sleep(1)
        group_string = str(group[a:b])
        group_string = group_string.replace("[", "").replace("]", "").replace(" ", "")
        group_sex = f'https://api.vk.com/method/users.get?user_ids={group_string}&fields=sex&access_token={access_token}&v=5.124'
        response = requests.request("GET", group_sex).json()['response']
        for i in response:
            k = i['sex']
            all_sexes.append(k)
        a = a+300
        b = b+300
    men = Counter(all_sexes)[2]
    women = Counter(all_sexes) [1]
    print (f'Всего в паблике {men} мужчин')
    print (f'Всего в паблике {women} женщин')
    return men, women

def param_counts (access_token, param, list_of_ids = None, group_id = None):
    
    '''
    Функция принимает на вход токен доступа и либо id паблика (group_id), либо список нужных id (list_of_ids). 
    Возвращает полученный от API ответ и подсчитанные значения.
    
    2. param — параметр, который нужно собрать о пользователях. Только один!!!! Иначе будет перегруз оперативной памяти, 
    файл ляжет, а данные будет трудно достать. Допустимые параметры на выбор: sex, bdate, city, country, home_town. 
    Вводятся как строка'''
    
    if list_of_ids == None:
        group = agg_group_member_ids (group_id, access_token)    
    else:
        group = list_of_ids
        
    group_len = len(group)
    a = 0
    b = 300
    all_params = []
    iterel = 1
    while a < group_len:
        # print ('ВНИМАНИЕ, ИТЕРАЦИЯ №', iterel)
        time.sleep(1)
        group_string = str(group[a:b])
        group_string = group_string.replace("[", "").replace("]", "").replace(" ", "")
        group_param = f'https://api.vk.com/method/users.get?user_ids={group_string}&fields={param}&access_token={access_token}&v=5.124'
        response = requests.request("GET", group_param).json()['response']
        # print (response)
        for i in response:
            try:
                k = i[param]
                
                if param == 'bdate':
                    if len (k) > 8:
                        all_params.append (k[-4:]) 
                else:                
                    all_params.append(k)
                # print (all_params)
            except KeyError:
                # print ('Oh No')
                pass
        a = a+300
        b = b+300
        iterel = iterel + 1
    # print (all_params)
    if param in ['sex', 'bdate','home_town']:
        counter_result = Counter(all_params).most_common()
    elif param in ['city', 'country']:
        pure_only = []
        for i in all_params:
            pure_only.append (i['title'])
        counter_result = Counter(pure_only).most_common()
    print (f'Всего в паблике: {counter_result}')
    return response, counter_result

## Шаг 1. Загрузка датасета. Применение функций

In [5]:
df = pd.read_excel ('Id пабликов.xlsx').drop('Unnamed: 0', 1)
df

               id               public
0       233701376  Балканский экспресс
1       366608409  Балканский экспресс
2       595460123  Балканский экспресс
3       135921697  Балканский экспресс
4        40501290  Балканский экспресс
...           ...                  ...
225940   67895283      Она развалилась
225941   76808182      Она развалилась
225942  445644788      Она развалилась
225943   49020922      Она развалилась
225944  259522556      Она развалилась

[225945 rows x 2 columns]

In [15]:
ids = sorted (list (df ['id']))
count_values = Counter (ids).most_common()

central_ids = []

for i in count_values:
    if i[1] == 3:
        central_ids.append (i[0])
        
len (central_ids)

6766

In [18]:
central_ids_genders = gender_counts (access_token, list_of_ids = central_ids)
central_ids_genders

Всего в паблике 5843 мужчин
Всего в паблике 918 женщин

(5843, 918)

In [25]:
central_ids_bdates = param_counts (access_token, 'bdate', list_of_ids = central_ids)
central_ids_cities = param_counts (access_token, 'city', list_of_ids = central_ids)
central_ids_countries = param_counts (access_token, 'country', list_of_ids = central_ids)

Всего в паблике: [('1994', 116), ('1990', 99), ('1998', 93), ('1991', 90), ('1999', 90), ('1992', 88), ('1993', 88), ('1996', 86), ('1989', 83), ('1995', 83), ('1988', 81), ('1997', 78), ('1987', 69), ('2000', 61), ('1986', 54), ('1985', 44), ('1984', 39), ('2001', 39), ('1981', 26), ('1982', 25), ('1983', 23), ('2002', 23), ('1980', 20), ('2006', 15), ('1978', 14), ('1917', 12), ('1979', 11), ('1975', 11), ('2003', 11), ('1977', 11), ('1902', 11), ('1976', 7), ('1905', 6), ('2004', 6), ('1964', 4), ('1969', 4), ('1972', 4), ('1973', 4), ('1966', 4), ('1968', 4), ('2005', 4), ('1974', 4), ('1971', 4), ('1920', 3), ('1923', 3), ('1904', 3), ('1961', 3), ('1916', 3), ('1960', 3), ('1945', 3), ('1957', 3), ('1970', 3), ('1965', 3), ('1929', 2), ('1931', 2), ('1914', 2), ('1951', 2), ('1934', 2), ('1912', 2), ('1933', 2), ('1906', 2), ('1958', 2), ('1910', 2), ('1956', 1), ('1911', 1), ('1922', 1), ('1926', 1), ('1953', 1), ('1946', 1), ('1930', 1), ('1959', 1), ('1935', 1), ('1937', 1), ('1967', 1), ('1949', 1), ('1919', 1)]
Всего в паблике: [('Москва', 961), ('Санкт-Петербург', 481), ('Киев', 139), ('Минск', 93), ('Екатеринбург', 71), ('Новосибирск', 54), ('Казань', 44), ('Харьков', 43), ('Нижний Новгород', 39), ('Владивосток', 37), ('Воронеж', 37), ('Ростов-на-Дону', 36), ('Калининград', 35), ('Одесса', 32), ('Самара', 32), ('Краснодар', 30), ('Челябинск', 28), ('Уфа', 26), ('Тула', 24), ('Волгоград', 24), ('Пермь', 22), ('Томск', 21), ('Омск', 21), ('Днепропетровск (Днепр)', 19), ('Красноярск', 18), ('Саратов', 18), ('Тюмень', 17), ('Белгород', 16), ('Севастополь', 15), ('Донецк', 15), ('Барнаул', 15), ('Мурманск', 14), ('Гомель', 14), ('Алматы', 14), ('Иерусалим', 14), ('Киров', 13), ('Иркутск', 13), ('Тверь', 13), ('Praha', 12), ('Калуга', 12), ('Симферополь', 12), ('Ижевск', 12), ('Ульяновск', 11), ('Beograd', 11), ('Ставрополь', 11), ('Ярославль', 11), ('Львов', 11), ('Курск', 11), ('Хабаровск', 11), ('Tallinn (Таллин)', 10), ('Брест', 10), ('Липецк', 10), ('Рязань', 9), ('Подольск', 9), ('Кемерово', 9), ('Kraków', 9), ('Витебск', 9), ('Брянск', 9), ('Грозный', 9), ('Тольятти', 8), ('Оренбург', 8), ('Новокузнецк', 8), ('Новороссийск', 8), ('Владимир', 8), ('London', 7), ('New York City', 7), ('Луганск', 7), ('Великий Новгород', 7), ('Вологда', 7), ('Улан-Удэ', 7), ('Смоленск', 7), ('Пенза', 7), ('Череповец', 6), ('Архангельск', 6), ('Петрозаводск', 6), ('Запорожье', 6), ('Wien', 6), ('Сочи', 6), ('Иваново', 6), ('Rīga', 6), ('Berlin', 6), ('Астрахань', 6), ('Королёв', 5), ('Dublin', 5), ('Саранск', 5), ('Чернигов', 5), ('Николаев', 5), ('Ровно', 5), ('Гродно', 5), ('Тамбов', 5), ('Псков', 5), ('Нур-Султан / Астана', 5), ('Магнитогорск', 5), ('Бобруйск', 5), ('Набережные Челны', 5), ('Херсон', 5), ('Бишкек', 5), ('Майкоп', 5), ('Баку', 5), ('München', 4), ('Сургут', 4), ('Щелково', 4), ('Santa Clara', 4), ('Орёл', 4), ('Stuttgart', 4), ('Электросталь', 4), ('Чебоксары', 4), ('Винница', 4), ('Houston', 4), ('Владикавказ', 4), ('Reykjavík', 4), ('Муром', 4), ('Poznań', 4), ('Кривой Рог', 4), ('Warszawa', 4), ('Благовещенск', 4), ('Vilnius', 4), ('Ужгород', 4), ('Ялта', 4), ('Южно-Сахалинск', 4), ('Могилёв', 4), ('Новополоцк', 4), ('Boston', 4), ('Tokyo', 4), ('Макеевка', 4), ('Новочеркасск', 3), ('Щекино', 3), ('Тель-Авив', 3), ('Vancouver', 3), ('Люберцы', 3), ('Якутск', 3), ('Таганрог', 3), ('Алчевск', 3), ('Железногорск', 3), ('Обнинск', 3), ('Кинешма', 3), ('Helsinki', 3), ('Нижний Тагил', 3), ('Мытищи', 3), ('Серпухов', 3), ('Kingston', 3), ('Балашиха', 3), ('Краматорск', 3), ('Полоцк', 3), ('Oslo', 3), ('Химки', 3), ('Горловка', 3), ('Ухта', 3), ('Комсомольск-на-Амуре', 3), ('Красный Сулин', 3), ('Караганда', 3), ('Энгельс', 3), ('Видное', 3), ('Pyongyang', 3), ('Mogadishu', 3), ('Абакан', 3), ('Sofia', 3), ('Sarajevo', 3), ('Черновцы', 3), ('Ташкент', 3), ('Павлодар', 3), ('Актобе', 3), ('Los Angeles', 3), ('Wrocław', 2), ('Atlanta', 2), ('Пушкин', 2), ('Bogotá', 2), ('Сумы', 2), ('Bangkok', 2), ('Тобольск', 2), ('Leipzig', 2), ('Салехард', 2), ('Paris', 2), ('Buenos Aires', 2), ('Пущино', 2), ('Братск', 2), ('Зеленоград', 2), ('Орск', 2), ('Ивано-Франковск', 2), ('Котельники', 2), ('Klaipėda', 2), ('Budapest', 2), ('Бердск', 2), ('Antananarivo', 2), ('Чугуев', 2), ('Уральск', 2), ('Наро-Фоминск', 2), ('Lublin', 2), ('Нижневартовск', 2), ('Курчатов', 2), ('Красноград', 2), ('Кишинев', 2), ('Курган-Тюбе', 2), ('Экибастуз', 2), ('Тернополь', 2), ('Реутов', 2), ('Кострома', 2), ('Бийск', 2), ('Северодвинск', 2), ('Хасавюрт', 2), ('Волгодонск', 2), ('Medellín', 2), ('Гусь-Хрустальный', 2), ('Припять', 2), ('Hong Kong', 2), ('Одинцово', 2), ('Арзамас', 2), ('Пятигорск', 2), ('Дмитров', 2), ('Дубна', 2), ('Magdeburg', 2), ('Nürnberg', 2), ('Дзержинск', 2), ('Луцк', 2), ('Североморск', 2), ('Białystok', 2), ('Сызрань', 2), ('São Tomé', 2), ('Thessaloniki', 2), ('Miami', 2), ('Петропавловск-Камчатский', 2), ('Manchester', 2), ('Paramaribo', 2), ('Керчь', 2), ('Полтава', 2), ('Элиста', 2), ('Amsterdam', 2), ('Karlsruhe', 2), ('Кызылорда', 2), ('Gdańsk', 2), ('Кременчуг', 2), ('Espoo', 2), ('Ulaanbaatar', 2), ('Port-au-Prince', 2), ('Den Haag', 2), ('Йошкар-Ола', 2), ('Zagreb', 2), ('Salzburg', 2), ('Рыбинск', 2), ('Łódź', 2), ('Jalalabad', 2), ('Махачкала', 2), ('Саров', 2), ('Mindelo', 1), ('Sendai', 1), ('Lianyungang', 1), ('Limassol', 1), ('San Francisco', 1), ('Раменское', 1), ('Konstanz', 1), ('Миасс', 1), ('Casablanca', 1), ('Seoul', 1), ('Longyearbyen', 1), ('', 1), ('Narva (Нарва)', 1), ('Октябрьский', 1), ('Нефтеюганск', 1), ('Выборг', 1), ('El Paso', 1), ('Нукус', 1), ('Звенигород', 1), ('Morgim', 1), ('Туркменабад', 1), ('Managua', 1), ('Gamprin-Bendern', 1), ('Arad', 1), ('Ликино-Дулево', 1), ('Петах Тиква', 1), ('Себеж', 1), ('Батайск', 1), ('Doha', 1), ('Cartagena de Indias', 1), ('Тбилиси', 1), ('Апатиты', 1), ('Budva', 1), ('Guadalajara', 1), ('Теплодар', 1), ('Боброво', 1), ('Гаджиево', 1), ('Durham', 1), ('Richmond', 1), ('Энергодар', 1), ('Кокшетау', 1), ('Великий Устюг', 1), ('Ахтубинск', 1), ('Nicosia', 1), ('Nijmegen', 1), ('Heidelberg', 1), ('Yamoussoukro', 1), ('Anjuna', 1), ('Providence', 1), ('Alofi', 1), ('Barcelona', 1), ('Березань', 1), ('Аксай', 1), ('Paks', 1), ('Константиновск', 1), ('Мукачево', 1), ('Лодейное Поле', 1), ('Aure', 1), ('Oran', 1), ('Hilpoltstein', 1), ('Ступино', 1), ('Montevideo', 1), ('Ko Phangan', 1), ('Старый Оскол', 1), ('Bandar Seri Begawan', 1), ('Болохово', 1), ('Кстово', 1), ('Milano', 1), ('Berkeley', 1), ('Борисов', 1), ('Vantaa', 1), ('Арыкбалык', 1), ('Lethbridge', 1), ('Ankara', 1), ('Переславль-Залесский', 1), ('Кингисепп', 1), ('Louangphrabang', 1), ('Каа-Хем', 1), ('Avarua', 1), ('Luxembourg', 1), ('Ивантеевка', 1), ('Hangzhou', 1), ('Котлас', 1), ('Елец', 1), ('Braunschweig', 1), ('Нарочь', 1), ('Aldea Blanca', 1), ('Gibraltar', 1), ('Новомосковск', 1), ('Сергиев Посад', 1), ('Тирасполь', 1), ('Степань', 1), ('Van Pak Len', 1), ('Междуреченск', 1), ('The Valley', 1), ('Солнечнодольск', 1), ('Aleppo', 1), ('Одоев', 1), ('Котлован', 1), ('Сасово', 1), ('Евпатория', 1), ('Слободской', 1), ('Домодедово', 1), ('Ахтуба', 1), ('Железнодорожный (Балашиха)', 1), ('Строитель', 1), ('Кимры', 1), ('Põlva (Пылва)', 1), ('Желтые Воды', 1), ('Эссойла (поселок)', 1), ('Salamanca', 1), ('Правдинский', 1), ('Волчанские Хутора', 1), ('Vaduz', 1), ('Taipei', 1), ('Гусев', 1), ('Ирпень', 1), ('Kampala', 1), ('Мариуполь', 1), ('Костомукша', 1), ('Дитятки', 1), ('Электрогорск', 1), ('Рогатин', 1), ('Харовск', 1), ('Малая Пурга', 1), ('Nikšić', 1), ('Бровары', 1), ('Garbsen', 1), ('Пери', 1), ('Neustrelitz', 1), ('Ora', 1), ('Обь', 1), ('Охотск', 1), ('Осиповичи', 1), ('Купянск', 1), ('Чусовой', 1), ('Capo Vaticano', 1), ('Марс', 1), ('Никополь', 1), ('Reykjavíkurborg', 1), ('Spanish Town', 1), ('Stockton', 1), ('Сосновый Бор', 1), ('Анапа', 1), ('Бугульма', 1), ('Тучково', 1), ('Leeds', 1), ('Краснознаменск', 1), ('Liberta', 1), ('Frankfurt am Main', 1), ('Нижнекамск', 1), ('Туапсе', 1), ('Североуральск', 1), ('Канск', 1), ('Plymouth', 1), ('Port Moresby', 1), ('Уржум', 1), ('Кафтанчиково', 1), ('Учалы', 1), ('Геленджик', 1), ('Петрокрепость', 1), ('Глазов', 1), ('Ulvila', 1), ('Navarro', 1), ('Усть-Кут', 1), ('Соль-Илецк', 1), ('Gokarn', 1), ('Дивногорск', 1), ('Тростянец', 1), ('Париж', 1), ('Gaza', 1), ('Copenhagen', 1), ('Краснотурьинск', 1), ('Алтайское', 1), ('Волчанск', 1), ('Северодонецк', 1), ('Корсаков', 1), ('Ковров', 1), ('Салават', 1), ('Кропивницкий / Кировоград', 1), ('Диксон', 1), ('Гулькевичи', 1), ('Вазюк', 1), ('Тюмень (село)', 1), ('Черноморск / Ильичевск', 1), ('Доброе', 1), ('Усолье-Сибирское', 1), ('Funningsfjørður', 1), ('Умань', 1), ('Bucureşti', 1), ('Port Elizabeth', 1), ('Рубцовск', 1), ('Асбест', 1), ('Селижарово', 1), ('Сланцы', 1), ('Тихвин', 1), ('Рогачев', 1), ('Ипатово', 1), ('Gorinchem', 1), ('Лабинск', 1), ('Нижнеудинск', 1), ('Хмельницкий', 1), ('Кедровый', 1), ('Fukushima', 1), ('Нурлат', 1), ('Plzeň', 1), ('Ko Samui', 1), ('Bratislava', 1), ('Октябрьск', 1), ('Yamagua de Puyáns', 1), ('Тосно', 1), ('Великие Луки', 1), ('Мелитополь', 1), ('Halifax', 1), ('Кимовск', 1), ('Ханты-Мансийск', 1), ('Kinshasa', 1), ('Борок', 1), ('Нягань', 1), ('Пелагиада', 1), ('Верхняя Салда', 1), ('Karlovy Vary', 1), ('Черноголовка', 1), ('Beirut', 1), ('Denver', 1), ('Джалал-Абад', 1), ('Находка', 1), ('Горно-Алтайск', 1), ('Белоозерск', 1), ('Зея', 1), ('Toulouse', 1), ('Усинск', 1), ('Жодино', 1), ('Adelaide', 1), ('Záhrobí', 1), ('Pristina', 1), ('Кибер-Спасское', 1), ('Braunau am Inn', 1), ('Саки', 1), ('Rakovník', 1), ('Сыктывкар', 1), ('Фрязино', 1), ('Bijeljina', 1), ('Суздаль', 1), ('Fontainebleau', 1), ('Philadelphia', 1), ('Bandar Lampung', 1), ('Adamstown', 1), ('Bridgetown', 1), ('Зябликово', 1), ('Pančevo', 1), ('Можга', 1), ('Dortmund', 1), ('Залупья', 1), ('Озерск', 1), ('Александрия', 1), ('Worthing', 1), ('Электроугли', 1), ('New Orleans', 1), ('Ейск', 1), ('Риддер', 1), ('Чита', 1), ('Melbourne', 1), ('Зеленоградск', 1), ('Можайск', 1), ('Kemer', 1), ('Tokelau', 1), ('Turku', 1), ('Воркута', 1), ('Elgin', 1), ('Бучач', 1), ('Roma', 1), ('Pol-e Khomrī', 1), ('Киреевск', 1), ('Lecco', 1), ('Kuala Lumpur', 1), ('Лянтор', 1), ('Tomislavgrad', 1), ('Златоуст', 1), ('Азнакаево', 1), ('Рассказово', 1), ('Лозовая', 1), ('Бердянск', 1), ('Костанай', 1), ('Феодосия', 1), ('Ленинск-Кузнецкий', 1), ('Стрежевой', 1), ('Каменское / Днепродзержинск', 1), ('Oakland', 1), ('Азов', 1), ('Dresden', 1), ('Washington, D.C.', 1), ('Ямбург', 1), ('Mar del Plata', 1), ('Schladming', 1), ('Петергоф', 1), ('Krzywa', 1), ('Dubai', 1), ('Empuriabrava', 1), ('Анадырь', 1), ('Mata-Utu', 1), ('Дно', 1), ('Douala', 1), ('Addis Ababa', 1), ('Горки Ленинские', 1), ('Докшицы', 1), ('Глинищево', 1), ('Bournemouth', 1), ('База', 1), ('Зеленогорск', 1), ('Ереван', 1), ('Коломна', 1), ('Ahvāz', 1), ('Удомля', 1), ('Хайфа', 1), ('Щучинск', 1), ('Верхняя Ставрополька', 1), ('Пересвет', 1), ('Новоуральск', 1), ('Крымск', 1), ('Калуш', 1), ('Углич', 1), ('Верхнеуральск', 1), ('Стрый', 1), ('Fukuoka', 1), ('Петропавловск', 1), ('Székesfehérvár', 1), ('Сморгонь', 1), ('Карабаш', 1), ('Измаил', 1), ('Ельск', 1), ('Гори', 1), ('Данков', 1), ('Ramla', 1), ('Жлобин', 1), ('Calgary', 1), ('Maaskantje', 1), ('Апшеронск', 1), ('Благодать', 1), ('Тараз', 1), ('Marseille', 1), ('Ostrava', 1), ('Tawau', 1), ('İzmir', 1), ('Трехгорный', 1), ('Potsdam', 1), ('Suva', 1), ('Chicago', 1), ('Rio de Janeiro', 1), ('Doboj', 1), ('Ravenna', 1), ('Гюмри', 1), ('Южный Склон', 1), ('Волхов', 1), ('Луганск (село)', 1), ('San Juan', 1), ('Алупка', 1), ('Житомир', 1), ('São Paulo', 1), ('Nazareth', 1), ('Зима', 1), ('Уссурийск', 1), ('Погорелое Городище', 1), ('Павлово', 1), ('Trondheim', 1), ('Буй', 1), ('Павлоград', 1), ('Hanoi', 1), ('Поваровка', 1), ('Лениногорск', 1), ('Новостепное', 1), ('Kagoshima', 1), ('Куйбышев', 1), ('Малые Щитники', 1), ('Gabú', 1), ('Tirana', 1), ('Kiel', 1), ('Нефтекамск', 1), ('Крынки', 1), ('Новый Донбасс', 1), ('Liverpool', 1), ('Инза', 1), ('České Budějovice', 1), ('Мцхета', 1), ('Mosul', 1), ('Seyðisfjörður', 1), ('Montpellier', 1), ('Бердичев', 1), ('Kragujevac', 1), ('Raška', 1), ('Тулун', 1), ('Ciudad Guayana', 1), ('Кривошеино', 1), ('Genève', 1), ('Ширван', 1), ('Колпино', 1), ('Хрустальный / Красный Луч', 1), ('Šiauliai', 1), ('Сортавала', 1), ('Петроград', 1), ('Stockholm', 1), ('Monaco', 1), ('Nioro du Sahel', 1), ('Hamburg', 1), ('Elbasan', 1), ('Lyon', 1), ('Ōsaka', 1), ('Скопје', 1), ('Tehran', 1), ('Байконур', 1), ('Тобольский', 1), ('Salò', 1), ('Елабуга', 1), ('Valencia', 1), ('Kaunas', 1), ('Певек', 1), ('Бронницы', 1), ('Cork', 1), ('Актау', 1), ('Plovdiv', 1), ('Haeju', 1), ('Гуляйполе', 1), ('Александров', 1), ('Marrakech', 1), ('Varna', 1), ('Северск', 1), ('Душанбе', 1), ('Brugge', 1), ('Düsseldorf', 1)]
Всего в паблике: [('Россия', 3376), ('Украина', 467), ('Беларусь', 190), ('Казахстан', 61), ('США', 42), ('Германия', 39), ('Польша', 29), ('Израиль', 25), ('Чехия', 19), ('Сербия', 16), ('Великобритания', 15), ('Эстония', 14), ('Австрия', 10), ('Финляндия', 10), ('Япония', 9), ('Азербайджан', 9), ('Литва', 9), ('Нидерланды', 9), ('Франция', 8), ('Канада', 7), ('Латвия', 7), ('Исландия', 7), ('Кыргызстан', 7), ('Ирландия', 6), ('Куба', 6), ('Грузия', 6), ('Италия', 6), ('Босния и Герцеговина', 6), ('Китай', 5), ('Колумбия', 5), ('Венгрия', 5), ('Ямайка', 5), ('Испания', 5), ('Норвегия', 5), ('Молдова', 5), ('Северная Корея', 5), ('Албания', 5), ('Болгария', 5), ('Таиланд', 4), ('Узбекистан', 4), ('Индия', 4), ('Турция', 4), ('Аргентина', 3), ('Черногория', 3), ('Греция', 3), ('Таджикистан', 3), ('Сомали', 3), ('Австралия', 3), ('Ватикан', 3), ('Афганистан', 3), ('Монголия', 3), ('Бразилия', 3), ('Кипр', 2), ('Марокко', 2), ('Южная Корея', 2), ('Мексика', 2), ('Лихтенштейн', 2), ('Мадагаскар', 2), ('Токелау', 2), ('Лаос', 2), ('Швеция', 2), ('Антигуа и Барбуда', 2), ('Палестинская автономия', 2), ('Швейцария', 2), ('Сан-Томе и Принсипи', 2), ('Ливан', 2), ('Суринам', 2), ('Малайзия', 2), ('Гаити', 2), ('Армения', 2), ('Иран', 2), ('Хорватия', 2), ('Кабо-Верде', 1), ('Шпицберген и Ян Майен', 1), ('Бангладеш', 1), ('Туркменистан', 1), ('Никарагуа', 1), ('Новая Зеландия', 1), ('Катар', 1), ('Камбоджа', 1), ('Бенин', 1), ("Кот-д'Ивуар", 1), ('Ниуэ', 1), ('Ангола', 1), ('Алжир', 1), ('Уругвай', 1), ('Бруней', 1), ('Острова Кука', 1), ('Люксембург', 1), ('Гибралтар', 1), ('Ангилья', 1), ('Сирия', 1), ('Бонайре, Синт-Эстатиус и Саба', 1), ('Тайвань', 1), ('Уганда', 1), ('Сент-Китс и Невис', 1), ('Монтсеррат', 1), ('Папуа — Новая Гвинея', 1), ('Бермуды', 1), ('Дания', 1), ('Фарерские острова', 1), ('Румыния', 1), ('Южно-Африканская Республика', 1), ('Словакия', 1), ('Конго, демократическая республика', 1), ('Буркина-Фасо', 1), ('Гондурас', 1), ('Остров Мэн', 1), ('Французская Полинезия', 1), ('Пакистан', 1), ('Гонконг', 1), ('Индонезия', 1), ('Питкерн', 1), ('Барбадос', 1), ('Зимбабве', 1), ('Объединенные Арабские Эмираты', 1), ('Кюрасао', 1), ('Уоллис и Футуна', 1), ('Святая Елена', 1), ('Камерун', 1), ('Эфиопия', 1), ('Фиджи', 1), ('Пуэрто-Рико', 1), ('Мавритания', 1), ('Вьетнам', 1), ('Гвинея-Бисау', 1), ('Ирак', 1), ('Венесуэла', 1), ('Монако', 1), ('Мали', 1), ('Северная Македония', 1), ('Бельгия', 1)]

In [39]:
def all_aggregated (aggregated):
    
    ''' Функция считает, сколько всего id мы успешно (с результатом) обработали на предыдущем этапе, 
    и возвращает полученное число.  '''
    
    all_count = 0

    for i in aggregated [1]:
        all_count = all_count + i[1]

    print ('Всего собрано: ', all_count)
    
    return all_count

In [40]:
bdays_all = all_aggregated (central_ids_bdates)
cities_all = all_aggregated (central_ids_cities)
countries_all = all_aggregated (central_ids_countries)

Всего собрано:  1712
Всего собрано:  3824
Всего собрано:  4611

In [42]:
bdates_df = pd.DataFrame(central_ids_bdates [1], columns = ['year', 'count'])

bdates_df ['percent'] = bdates_df['count'] * 100 / bdays_all

bdates_df

    year  count   percent
0   1994    116  6.775701
1   1990     99  5.782710
2   1998     93  5.432243
3   1991     90  5.257009
4   1999     90  5.257009
..   ...    ...       ...
71  1935      1  0.058411
72  1937      1  0.058411
73  1967      1  0.058411
74  1949      1  0.058411
75  1919      1  0.058411

[76 rows x 3 columns]

In [44]:
cities_df = pd.DataFrame(central_ids_cities [1], columns = ['city', 'count'])

cities_df ['percent'] = cities_df['count'] * 100 / cities_all

cities_df

                city  count    percent
0             Москва    961  25.130753
1    Санкт-Петербург    481  12.578452
2               Киев    139   3.634937
3              Минск     93   2.432008
4       Екатеринбург     71   1.856695
..               ...    ...        ...
667            Varna      1   0.026151
668          Северск      1   0.026151
669          Душанбе      1   0.026151
670           Brugge      1   0.026151
671       Düsseldorf      1   0.026151

[672 rows x 3 columns]

In [45]:
countries_df = pd.DataFrame(central_ids_countries [1], columns = ['country', 'count'])

countries_df ['percent'] = countries_df['count'] * 100 / countries_all

countries_df

                country  count    percent
0                Россия   3376  73.216222
1               Украина    467  10.127955
2              Беларусь    190   4.120581
3             Казахстан     61   1.322923
4                   США     42   0.910865
..                  ...    ...        ...
127           Венесуэла      1   0.021687
128              Монако      1   0.021687
129                Мали      1   0.021687
130  Северная Македония      1   0.021687
131             Бельгия      1   0.021687

[132 rows x 3 columns]

## Шаг 2. Анализ и выводы

## Пол

In [89]:
all_genders = central_ids_genders [0] + central_ids_genders [1]
male_percent = central_ids_genders [0] * 100 / all_genders
female_percent = central_ids_genders [1] * 100 / all_genders
print (f'Мужчин {round(male_percent)}%, а женщин {round (female_percent)}%')

Мужчин 86%, а женщин 14%

Согласно данным [Mediascope](https://webindex.mediascope.net/report?byDevice=3&byGeo=2&byMonth=202010&id=16571), в среднем в аудитории ВКонтакте 54% женщин и 46% мужчин.

В исследуемом ядре очевидно превалируют мужчины (на 32% больше мужчин, чем в среднем по ВКонтакте), в то время как женщин подобный контент почти не интересует (на 40% меньше, чем в среднем по ВКонтакте).

## Возраст

Так как при попытке собрать сразу несколько параметров, оперативная память нашего компьютера перегружена, и Jupyter перестаёт отвечать, нам нужно смотреть на ситуацию окольными путями.

Поэтому мы сравниваем процент подписчиков определённой возрастной группы с данными Медиаскопа: как с данными по всей аудитории (Monthly Reach, October 2020, Desktop+Mobile), так и с данными только по мужчинам, так как 86% нашей ядра составляют мужчины.

In [90]:
# Возраст по нашему датасету

age_12_24 = 0
age_25_34 = 0
age_35_44 = 0
age_45_54 = 0
age_mr_55 = 0

for i in bdates_df.iterrows():
    
    if int (i[1]['year']) in range(1996, 2009):
        age_12_24 = age_12_24 + i[1]['percent']
    
    if int (i[1]['year']) in range(1986, 1996):
        age_25_34 = age_25_34 + i[1]['percent']
    
    if int (i[1]['year']) in range(1976, 1986):
        age_35_44 = age_35_44 + i[1]['percent']
    
    if int (i[1]['year']) in range(1966, 1976):
        age_45_54 = age_45_54 + i[1]['percent']

    if int (i[1]['year']) < 1966:
        age_mr_55 = age_mr_55 + i[1]['percent']  

title = ['12-24', '25-34', '35-44', '45-54', '55+']
ages = [age_12_24, age_25_34, age_35_44, age_45_54, age_mr_55]

# ПРОЦЕНТ ВОЗРАСТНЫХ ГРУПП ПО ДАННЫМ МЕДИАСКОПА
# https://webindex.mediascope.net/report/sex-and-age?byGeo=2&byDevice=3&byMonth=202010&id=16571
# Предобработка в Excel: высчитывание процентов от общего числа по возрастным группам

mediascope_ages_all = [21.82578885, 25.40598667, 21.56316995, 15.39271909, 15.81233544]
mediascope_ages_men_only = [24.40506842, 27.02410682, 21.81728345, 14.48760727, 12.26593405]


age_df = pd.DataFrame ([title, ages, mediascope_ages, mediascope_ages_men_only]).T
age_df.columns = ['age', '% our data', '% mediascope all', '% mediascope men only']

age_df ['our - all'] = age_df['% our data'] - age_df['% mediascope all']
age_df ['our - men'] = age_df['% our data'] - age_df['% mediascope men only']

age_df

     age % our data % mediascope all % mediascope men only our - all our - men
0  12-24    29.5561          21.8258               24.4051   7.73029   5.15101
1  25-34    49.7079           25.406               27.0241    24.302   22.6838
2  35-44    12.8505          21.5632               21.8173   -8.7127  -8.96682
3  45-54    2.51168          15.3927               14.4876   -12.881  -11.9759
4    55+    5.37383          15.8123               12.2659  -10.4385   -6.8921

Таким образом, мы видим, что в ядре подписчиков преобладает аудитория 25-34. В сравнении с общей аудиторией ВКонтакте, показатель 50% подписчиков больше средних значений на 22-24%. Также больше средних значений аудитория 12-24. Посмотрим на неё поближе.

Проведём рубеж в 15-16 лет, так как в этом возрасте человек обычно заканчивает школу и поступает в университет, в связи с чем его интересы и медиа-запросы меняются; а также в 19-20 лет, когда люди обычно заканчивают бакалавриат.

In [91]:
age_12_15 = 0
age_16_19 = 0
age_20_24 = 0

for i in bdates_df.iterrows():
    
    if int (i[1]['year']) in range(2005, 2009):
        age_12_15 = age_12_15 + i[1]['percent']
    
    if int (i[1]['year']) in range(2001, 2005):
        age_16_19 = age_16_19 + i[1]['percent']
        
    if int (i[1]['year']) in range(1996, 2001):
        age_20_24 = age_20_24 + i[1]['percent']
    
print (age_12_15, age_16_19, age_20_24)

1.1098130841121494 4.614485981308412 23.83177570093458

Получается, что наибольший интерес к контенту группы всё равно проявляют совершеннолетние молодые люди от 20 до 34 лет.

## Страны

Мы хотим визуализировать полученные результаты в программе Flourish, чтобы посмотреть на географическое распределение ядра наших пабликов. Однако данные, введённые пользователями ВКонтакте на русском языке, нужно перевести на английский — причём именно в том варианте, который предзадан во Flourish. Для этого выполним следующую ячейку.

Кроме того, как выяснилось, многие пользователи указывают как страну происхождения островные или непризнанные территории. Комментарии по таким территориям ниже.

In [48]:
english_translations = {}

for i in countries_df ['country']:
    write_translation = input (f'Введите перевод для {i}: ')
    english_translations [i] = write_translation

Введите перевод для Россия: Russian Federation
Введите перевод для Украина: Ukraine
Введите перевод для Беларусь: Republic of Belarus
Введите перевод для Казахстан: Republic of Kazakhstan
Введите перевод для США: United States of America
Введите перевод для Германия: Federal Republic of Germany
Введите перевод для Польша: Republic of Poland
Введите перевод для Израиль: State of Israel
Введите перевод для Чехия: Czech Republic
Введите перевод для Сербия: Republic of Serbia
Введите перевод для Великобритания: United Kingdom of Great Britain and Northern Ireland
Введите перевод для Эстония: Republic of Estonia
Введите перевод для Австрия: Republic of Austria
Введите перевод для Финляндия: Republic of Finland
Введите перевод для Япония: Japan
Введите перевод для Азербайджан: Republic of Azerbaijan
Введите перевод для Литва: Republic of Lithuania
Введите перевод для Нидерланды: Kingdom of the Netherlands
Введите перевод для Франция: French Republic
Введите перевод для Канада: Canada
Введите перевод для Латвия: Republic of Latvia
Введите перевод для Исландия: Republic of Iceland
Введите перевод для Кыргызстан: Kyrgyz Republic
Введите перевод для Ирландия: Ireland
Введите перевод для Куба: Republic of Cuba
Введите перевод для Грузия: Georgia
Введите перевод для Италия: Italian Republic
Введите перевод для Босния и Герцеговина: Bosnia and Herzegovina
Введите перевод для Китай: People's Republic of China
Введите перевод для Колумбия: Republic of Colombia
Введите перевод для Венгрия: Republic of Hungary
Введите перевод для Ямайка: Jamaica
Введите перевод для Испания: Kingdom of Spain
Введите перевод для Норвегия: Kingdom of Norway
Введите перевод для Молдова: Republic of Moldova
Введите перевод для Северная Корея: Democratic People's Republic of Korea
Введите перевод для Албания: Republic of Albania
Введите перевод для Болгария: Republic of Bulgaria
Введите перевод для Таиланд: Kingdom of Thailand
Введите перевод для Узбекистан: Republic of Uzbekistan
Введите перевод для Индия: Republic of India
Введите перевод для Турция: Republic of Turkey
Введите перевод для Аргентина: Argentine Republic
Введите перевод для Черногория: Montenegro
Введите перевод для Греция: Hellenic Republic
Введите перевод для Таджикистан: Republic of Tajikistan
Введите перевод для Сомали: Federal Republic of Somalia
Введите перевод для Австралия: Commonwealth of Australia
Введите перевод для Ватикан: State of the Vatican City
Введите перевод для Афганистан: Islamic State of Afghanistan
Введите перевод для Монголия: Mongolia
Введите перевод для Бразилия: Federative Republic of Brazil
Введите перевод для Кипр: Republic of Cyprus
Введите перевод для Марокко: Kingdom of Morocco
Введите перевод для Южная Корея: Republic of Korea
Введите перевод для Мексика: United Mexican States
Введите перевод для Лихтенштейн: Principality of Liechtenstein
Введите перевод для Мадагаскар: Republic of Madagascar
Введите перевод для Токелау: New Zealand
Введите перевод для Лаос: Lao People's Democratic Republic
Введите перевод для Швеция: Kingdom of Sweden
Введите перевод для Антигуа и Барбуда: Antigua and Barbuda
Введите перевод для Палестинская автономия: West Bank and Gaza
Введите перевод для Швейцария: Swiss Confederation
Введите перевод для Сан-Томе и Принсипи: Democratic Republic of São Tomé and Principe
Введите перевод для Ливан: Lebanese Republic
Введите перевод для Суринам: Republic of Suriname
Введите перевод для Малайзия: Malaysia
Введите перевод для Гаити: Republic of Haiti
Введите перевод для Армения: Republic of Armenia
Введите перевод для Иран: Islamic Republic of Iran
Введите перевод для Хорватия: Republic of Croatia
Введите перевод для Кабо-Верде: Republic of Cabo Verde
Введите перевод для Шпицберген и Ян Майен: Kingdom of Norway
Введите перевод для Бангладеш: People's Republic of Bangladesh
Введите перевод для Туркменистан: Turkmenistan
Введите перевод для Никарагуа: Republic of Nicaragua
Введите перевод для Новая Зеландия: New Zealand
Введите перевод для Катар: State of Qatar
Введите перевод для Камбоджа: Kingdom of Cambodia
Введите перевод для Бенин: Republic of Benin
Введите перевод для Кот-д'Ивуар: Republic of Ivory Coast
Введите перевод для Ниуэ: Niue
Введите перевод для Ангола: People's Republic of Angola
Введите перевод для Алжир: People's Democratic Republic of Algeria
Введите перевод для Уругвай: Oriental Republic of Uruguay
Введите перевод для Бруней: Negara Brunei Darussalam
Введите перевод для Острова Кука: Cook Islands
Введите перевод для Люксембург: Grand Duchy of Luxembourg
Введите перевод для Гибралтар: Gibraltar
Введите перевод для Ангилья: Anguilla
Введите перевод для Сирия: Syrian Arab Republic
Введите перевод для Бонайре, Синт-Эстатиус и Саба: Curaçao
Введите перевод для Тайвань: People's Republic of China
Введите перевод для Уганда: Republic of Uganda
Введите перевод для Сент-Китс и Невис: Federation of Saint Kitts and Nevis
Введите перевод для Монтсеррат: Montserrat
Введите перевод для Папуа — Новая Гвинея: Independent State of Papua New Guinea
Введите перевод для Бермуды: The Bermudas or Somers Isles
Введите перевод для Дания: Kingdom of Denmark
Введите перевод для Фарерские острова: Føroyar Is. (Faeroe Is.)
Введите перевод для Румыния: Romania
Введите перевод для Южно-Африканская Республика: Republic of South Africa
Введите перевод для Словакия: Slovak Republic
Введите перевод для Конго, демократическая республика: Democratic Republic of the Congo
Введите перевод для Буркина-Фасо: Burkina Faso
Введите перевод для Гондурас: Republic of Honduras
Введите перевод для Остров Мэн: Isle of Man
Введите перевод для Французская Полинезия: French Polynesia
Введите перевод для Пакистан: Islamic Republic of Pakistan
Введите перевод для Гонконг: Hong Kong Special Administrative Region, PRC
Введите перевод для Индонезия: Republic of Indonesia
Введите перевод для Питкерн: Pitcairn, Henderson, Ducie and Oeno Islands
Введите перевод для Барбадос: Barbados
Введите перевод для Зимбабве: Republic of Zimbabwe
Введите перевод для Объединенные Арабские Эмираты: United Arab Emirates
Введите перевод для Кюрасао: Curaçao
Введите перевод для Уоллис и Футуна: Wallis and Futuna Islands
Введите перевод для Святая Елена: Saint Helena
Введите перевод для Камерун: Republic of Cameroon
Введите перевод для Эфиопия: Federal Democratic Republic of Ethiopia
Введите перевод для Фиджи: Republic of Fiji
Введите перевод для Пуэрто-Рико: Commonwealth of Puerto Rico
Введите перевод для Мавритания: Islamic Republic of Mauritania
Введите перевод для Вьетнам: Socialist Republic of Vietnam
Введите перевод для Гвинея-Бисау: Republic of Guinea-Bissau
Введите перевод для Ирак: Republic of Iraq
Введите перевод для Венесуэла: Bolivarian Republic of Venezuela
Введите перевод для Монако: Principality of Monaco
Введите перевод для Мали: Republic of Mali
Введите перевод для Северная Македония: Former Yugoslav Republic of Macedonia
Введите перевод для Бельгия: Kingdom of Belgium

Ангилья — самоуправляемая британская заморская территория в восточной части Карибского моря.

Бона́йре, Синт-Эста́тиус и Са́ба, также применяется название Кари́бские Нидерла́нды — три особые общины Нидерландов в Карибском море, в архипелаге Малых Антильских островов в Вест-Индии. Также, как и Кюрасао, находятся в составе Королевства Нидерландов, поэтому в датасет заносятся как Curaçao. В QGis и то, и другое — Netherlands Antilles.

Гиблартар — британская заморская территория на южной оконечности Пиренейского полуострова.

Монтсерра́т — заморская территория Великобритании, находящаяся на одноимённом острове, входящем в архипелаг Малые Антильские острова. 

Ниуэ — остров и одноимённое самоуправляемое государственное образование в свободной ассоциации с Новой Зеландией

Остров Кука — архипелаг и одноимённое самоуправляемое государственное образование в свободной ассоциации с Новой Зеландией.

Остров Мэн — коронное владение Британской короны. Расположен в Ирландском море на примерно одинаковом расстоянии от Англии, Ирландии, Шотландии и Уэльса.

Острова Питкерн — единственная заморская территория Великобритании в Тихом океане. Включает в себя пять островов, один из которых обитаем.

Острова Святой Елены, Вознесения и Триста́н-да-Ку́нья — заморская территория Великобритании, расположенная в Южной Атлантике к западу от африканского побережья.

Тайвань — к сожалению, Flourish не даёт выделить Тайвань как отдельное от Китая государство, поэтому здесь мы причисляем его к КНР.

Токелау — зависимая территория Новой Зеландии.

Уоллис и Футуна — острова в южной части Тихого океана, на расстоянии около 2⁄3 пути между Гавайями и Новой Зеландией.

Шпицберген и Ян-Майен — общее название принадлежащих Норвегии архипелага Шпицберген и острова Ян-Майен.

In [53]:
# Добавляем переводы в датасет

translation_column_data = []

for i in countries_df ['country']:
    if i in english_translations.keys():
        translation_column_data.append (english_translations[i])
        
countries_df ['translation'] = translation_column_data

countries_df

,country,count,percent,translation
0,Россия,3376,73.216222,Russian Federation
1,Украина,467,10.127955,Ukraine
2,Беларусь,190,4.120581,Republic of Belarus
3,Казахстан,61,1.322923,Republic of Kazakhstan
4,США,42,0.910865,United States of America
...,...,...,...,...
127,Венесуэла,1,0.021687,Bolivarian Republic of Venezuela
128,Монако,1,0.021687,Principality of Monaco
129,Мали,1,0.021687,Republic of Mali
130,Северная Македония,1,0.021687,Former Yugoslav Republic of Macedonia
131,Бельгия,1,0.021687,Kingdom of Belgium

In [54]:
countries_df.to_excel ('Страны ядра.xlsx')

В итоге мы визуализировали не в Flourish, а в QGis. Хотя нам стоило бы выбрать не заливку, а кружочки для визуализации, так как данные не нормированы на площадь или на население, на этой визуализации мы хотели скорее выявить регионы, в которых возникает интерес к контенту паблика. И с этой задачей наша визуализация справляется.

Получается, что регион — это Россия, Восточная и Центральная Европа, Казахстан и США.

![img](https://sun9-42.userapi.com/impg/d_zdGMKVHbJ4RIKWqpIggDqGgu3l0Sv1VvJP7A/7hXJt8qcQkE.jpg?size=2560x1810&quality=96&proxy=1&sign=d977ba93a645988fca52c2cfb59b6e2d&type=album)

Мария Казакова (undine_su_menulio), 2020 год.